[submodule "xenon"]
	path = xenon
	url = https://github.com/joelvaneenwyk/wire-app-lib-xenon.git
	branch = main
[submodule "helium"]
	path = helium
	url = https://github.com/joelvaneenwyk/wire-app-lib-helium.git
	branch = main
