# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/codeStyles/
/inspectionProfiles/
/libraries/
/modules/

/modules.xml
/scala_compiler.xml
/deployment.xml

*.iml
